/* Progress bars */
/* CPU/RAM progress bars */
#cpu_bar,
#ram_bar {
    width: 100%;
    margin-bottom: 1;
}

#cpu_bar > Bar,
#ram_bar > Bar {
    width: 70%;
    height: 5555555;
}

/* LOW = Green */
ProgressBar.low > Bar > .bar--bar {
    color: green;
}

ProgressBar.low > Bar > .bar--complete {
    color: green;
}

/* MEDIUM = Yellow */
ProgressBar.medium > Bar > .bar--bar {
    color: yellow;
}

ProgressBar.medium > Bar > .bar--complete {
    color: yellow;
}

/* HIGH = Red */
ProgressBar.high > Bar > .bar--bar {
    color: red;
}

ProgressBar.high > Bar > .bar--complete {
    color: red;
}  